@model IEnumerable<SistemaWebEmpleado.Models.Empleado>
@{
    ViewData["Title"] = "Lista de empleados";
}
@Html.ActionLink("Nuevo", "Create","Empleado")
@Html.ActionLink("Volver", "Index", "Empleado")

    <table>
        <tr>
            <th>@Html.DisplayNameFor(m=> m.Id)</th>
            <th>@Html.DisplayNameFor(m=> m.Nombre)</th>
            <th>@Html.DisplayNameFor(m=> m.Apellido)</th>
            <th>@Html.DisplayNameFor(m=> m.DNI)</th>
            <th>@Html.DisplayNameFor(m=> m.Legajo)</th>
            <th>@Html.DisplayNameFor(m=> m.FechaNacimiento)</th>
            <th>@Html.DisplayNameFor(m=> m.Titulo)</th>
        </tr>

    @foreach (var empleado in Model)
    {
                <tr>
                    <td>
                @Html.DisplayFor(m=> empleado.Id)
                    </td>
                    <td>
                @Html.DisplayFor(m=> empleado.Nombre)
                    </td>
                    <td>
                @Html.DisplayFor(m=> empleado.Apellido)
                    </td>
                    <td>
                @Html.DisplayFor(m=> empleado.DNI)
                    </td>
                    <td>
                @Html.DisplayFor(m=> empleado.Legajo)
                    </td>
                    <td>
                @Html.DisplayFor(m=> empleado.FechaNacimiento)
                    </td>
                    <td>
                @Html.ActionLink(empleado.Titulo, "GetByTitulo", "Empleado",new{titulo=empleado.Titulo})

                    </td>

                    <td>
                    </td>

                </tr>
    }
    </table>